numpy==1.26.3
opencv-python==4.11.0.86
segment-anything==1.0
diffusers==0.20.2
huggingface-hub==0.25.0
transformers==4.46.0
accelerate==1.0.1
scikit-learn==1.6.1
fastapi==0.115.12 
imageio==2.37.0 
pillow==10.4.0